Bottleneck
cloudpickle
contourpy
cycler
Farama-Notifications
filelock==3.16.1
fonttools
fsspec==2024.10.0
gymnasium
jax-jumpy
Jinja2
kiwisolver
MarkupSafe
matplotlib==3.9.2
mkl-service==2.4.0
mpmath
networkx==3.4.2
numexpr
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
setuptools==75.1.0
six
stable_baselines3==2.4.0
sympy
torch==2.2.2
tornado
tqdm
typing_extensions
tzdata
unicodedata2
wheel==0.44.0
